[[source ]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==3.1.0"
requests-oauthlib = "==2.0.0"
inject = "*"
flask-cors = "*"
jsonschema = "*"

[dev-packages]
pylint = "*"
black = "*"